/* <body> overlays to disable the content scrolling */
.popbox-no-overflow {
  overflow: hidden !important;
  outline: none;
}
.popbox-no-overflow.popbox-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll!important;
}

.popbox {
  display: normal;
}

.popbox .dimmer {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background:rgba(37,37,37,.5); /*#252525*/
}
.popbox .modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  overflow-y: auto;
  z-index: 999;
}
.popbox .outgap {
  margin: 5% auto 0 auto;
  max-width: 800px;
  min-height: auto;
  padding: 1em;
  outline: 0;
}
.popbox .workarea {
  position: relative;
  padding: 2em 2em;
  background-color: #fafafa;
  font-size: .9em;
  line-height: 28px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.3);
}

.close_button {
  background-color: rgba(255,255,255,.8);
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
}